/*sourced from W3School - text and submit boxes */ 
body {
    font-family: Optima, sans-serif;
    font-weight: 500;
    background-color:#ffffd2;

}

input[type=text], select, texrarea {
    width: 100%;
    padding: 12px;
    border: 3px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
    resize: vertical;
}
/*submit button */ 
input[type=submit] {
    background-color: #731dd8;
    color: #f7f0f5;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #bc96e6;
    color: #13070c
  }

option[disabled]{ display: none; }

input { margin-bottom: 5px; }

*{
    margin: 12px;
    padding: 0px;
}

.txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 10;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

