* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-y: hidden;
}

.hidden {
    display: none !important;
}

#topbar {
    display: grid;
    overflow-x: hidden;
}

#logobar {
    width: 100%;
    padding: 5px 0px;
    background-color: rgb(141, 93, 187);
    display: inline;
    text-align: center;
}

#sidebar-select {
    width: 100%;
    background-color: rgb(241, 241, 70);
    display: inline;
    padding: 5px;
}

.sidebar-buttons {
    display: inline;
}

#sidebar-container {
    background-color: beige;
    right: 0;
    position: absolute;
    height: 100%;

}

.sidebar {
    height: 100%; /* dont know how to get this to fill the rest of the page height */
    width: 250px;
    float: right;
    position: relative;
    z-index: 1;
    background-color: rgba(160, 235, 191, 0.8);
}

#shape-select {
    width: 200px;
}