* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow-y: hidden;
    /* Disable ctrl+a select all */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
    z-index: -20;;
    height: 100%;
    background: rgb(255, 255, 255);
    padding: 0;
    margin:0;
    display: block;
}

.hidden {
    display: none !important;
}

/* --------------------------------- Topbar --------------------------------- */
#topbar {
    display: grid;
    overflow-x: hidden;
}

#logobar {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#logobar > span {
    color:#07144e;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 25px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
#logobar > span:hover {
    color:#9749f0;
    transform: scale(1.1);
    
}
#sidebar-select {
    width: 100%;
    background-color: #ffffff;
    display: inline;
    padding-left: 5px;
    padding: 5px;
    border-bottom: 2px solid #dadce0;
}

.sidebar-buttons {
    display: inline-block;
    /* outline: 0; */
    border: none;
    cursor: pointer;
    /* font-weight: 600; */
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #9749f0;
    color: white;
    padding: 5px 10px;
    margin-right: 4px;
    transition: all 200ms ease-in-out;
}

.sidebar-buttons:hover {
    background-color: #731DD8;
    outline: 2px solid rgb(169, 211, 97);
}

#sidebar-container {
    right: 0;
    position: absolute;
    height: 100%;
    background-color: #e6d2f8e8;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px
}

.sidebar {
    transition: 0.5s;
    height: 100%;
    float: right;
    position: relative;
    z-index: 1;
}

/* -------------------------- Shape select sidebar -------------------------- */
#shape-select {
    width: 80px;
    padding-inline: 10px;
    padding-top: 10px;
}

.shape-icon {
    width: inherit;
    border: none;
    background-color:transparent;
    outline:none;
}

.shape-icon:hover {
    background-color: #dec1ff;
}

.shape-fill {
    fill: #9749f0;
}

/* -------------------------- Object editor sidebar ------------------------- */
#obj-editor {
    width: 180px;
    padding: 10px;
    display: block;
}

.obj-sidebar-size {
    border-bottom: 1px solid;
    border-color: rgba(120, 40, 167, 0.5);
    right: 0;
    text-align: right;
    padding: 15px 0px 15px 0px;
}

input[type=number] {
    text-align: right;
    margin-top: -2px;
    width: 70px;
    height: 21px;
    border-radius: 4px;
    box-sizing: border-box;
    right:0;
}

input[type=number],input[type=text], textarea, input[type=color] {
    transition: box-shadow 200ms ease-in, border 200ms ease-in, background-color 200ms ease-in;
    border: 2px solid #fff;
    color: rgb(14, 14, 16);
    background-color: #fff;    
}

input[type=number]:hover, input[type=text]:hover, textarea:hover, input[type=color]:hover {
    border-color: #919191;
}

input[type=number]:focus, input[type=text]:focus, textarea:focus, input[type=color]:focus {
    outline: none;
    border-color: #9749f0;
}

input:disabled {
    background-color: #d5d4d4;
    border-color: #d5d4d4;
}

#notes {
    resize: none;
    margin-top: 5px;
    width: 158px;
    height: 100%;
    padding: 5px;
    border-radius: 4px;
}

#obj-len-ft, #obj-len-in, #obj-width-ft, #obj-width-in{
    width: 35px;
}

.container-label {
    font-weight: bold;
    position:absolute; 
    left:20px;
}

.container-title {
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 4px;
}

input[type=image] {
    transition: all 100ms ease-out;
}

input[type=image]:hover {
    transform: scale(1.2);
}

button:hover {
    transition: all 200ms ease-in-out;
    transform: scale(1.2);

}

/* ------------------------------- Connection ------------------------------- */
#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(9, 0, 20, 0.7);
    transition: opacity 200ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    width: 100%;
}

#overlay:target {
    visibility: visible;
    opacity: 1;
}

#connection-popup {
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    border-radius: 6px;
    width: 500px;
    position: fixed;
    transition: all 200ms ease-in-out;
}

#connection-popup .close {
    position: absolute;
    top: 45px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
#connection-popup .close:hover {
    color: #06D85F;
}


/* ------------------------------- Popup Tabs ------------------------------- */
#connection-popup > input {
    display: none;
}
#connection-popup > label {
    display: block;
    position: relative;
    float: left;
    padding: 12px 50px;
    cursor: pointer;
    transition: all .3s;
    color: rgb(0, 0, 0);
    border-radius: 6px 6px 0px 0px;
    margin-right:5px;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.479);

}

#connection-popup > label:hover {
    color: #9749f0;
}

#connection-popup > input:checked + label {
    background: #9749f0;
    color: #fff;
}

.content-container {
    position: static;
    clear: both;
    perspective: 600px;
    border: 3px solid #9749f0;
    background-color: rgb(255, 255, 255);
    height: 150px;
    border-radius: 0px 6px 6px 6px;
    z-index: 5;
}

.content {
    position: absolute;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}

.content > * {
    margin-top: 10px;
}

#host-tab:checked ~ .content-container > .content:nth-of-type(1),
#join-tab:checked ~ .content-container > .content:nth-of-type(2) {
    opacity: 1;
    z-index: 1;
}

.round-button {
    border-radius: 20px;
    font-size: 15px;
    width: 100px;
    height:35px;
}

#status {
    color:#9749f0;
    font-size: 15px;
    font-weight: 700;
}

#sender > div > span {
    font-size: 20px;
}

.id-box {
    width: 87%;
    height: 20px;
    background-color: #e4e4e4;
    border-radius: 6px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
}