* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-y: hidden;
}

#canvas {
    z-index: -1;
    height: 100%;
    background: rgb(254, 255, 236);
    padding: 0;
    margin:0;
    display: block;
}

.hidden {
    display: none !important;
}

/* --------------------------------- Topbar --------------------------------- */
#topbar {
    display: grid;
    overflow-x: hidden;
}

#logobar {
    width: 100%;
    padding: 5px 0px;
    background-color: rgb(115, 29, 216);
    display: inline;
    text-align: center;
}

#sidebar-select {
    width: 100%;
    background-color: rgb(252, 230, 107);
    display: inline;
    padding: 5px;
}

.button {
    border: none;
    display: inline-block;
    float: left;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 4px 4px;
    cursor: pointer;


}

.object-editor {
    background-color: rgb(252, 230, 107);
    color: black;
    border: 2px solid rgb(252, 230, 107);
}
.object-editor:hover {
    background-color: #FFFFFF;
    color: white; 
}
.shape-select {
    background-color: rgb(252, 230, 107);
    color: black;
    border: 2px solid rgb(252, 230, 107);
}

.shape-select:hover {
    background-color: #FFFFFF;
    color: white;
}

#sidebar-container {
    background-color: beige;
    right: 0;
    position: absolute;
    height: 100%;

}

.sidebar {
    height: 100%;
    float: right;
    position: relative;
    z-index: 1;
    background-color: rgba(210, 176, 248, 0.733);
}

/* -------------------------- Shape select sidebar -------------------------- */
#shape-select {
    width: 80px;
    padding-inline: 10px;
    padding-top: 10px;
}

.shape-icon {
    width: inherit;
    padding-bottom: 10px;
}

/* -------------------------- Object editor sidebar ------------------------- */
#obj-editor {
    width: 180px;
    padding: 10px;
}

.obj-sidebar-size {
    border-bottom: 1px solid;
    border-color: rgba(120, 40, 167, 0.5);
    right: 0;
    text-align: right;
    padding: 15px 0px 15px 0px;
}

input[type=number] {
    text-align: right;
    margin-top: -2px;
    width: 70px;
    height: 21px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 4px;
    box-sizing: border-box;
    right:0;
}

#obj-len-ft, #obj-len-in, #obj-width-ft, #obj-width-in{
    width: 35px;
}

.container-label {
    font-weight: bold;
    position:absolute; 
    left:20px;
}

.container-title {
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 4px;
}
/* -------------------------- Navigation Bar at bottom home page ------------------------- */
 .navbar {
    overflow: hidden;
    background-color: #731dd8;
    position: fixed;
    bottom: 0;
    width: 100%;
 }
      
 .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 }
      
 .navbar a:hover {
    background: #bc96e6;
    color: #13070c;
 }
      
 .main {
    padding: 16px;
    margin-bottom: 30px;
 }

/*--------Go to top of page function style-----------*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: purple; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
